.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
  display: none;
}

.App {
}

.VictoryBanner {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

.Grid {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  max-width: 800px;
  margin: 0 auto;
}

.Row {
  display:  flex;
  flex-direction: row;
}

.Cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-weight: bold;
  font-size: 6vh;
  text-align: center;
  aspect-ratio: 1 / 1 ;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  /* Vertical align content center */
  display:grid;align-items:center;justify-content:center;
}

.cell-black {
  background: black;
  color: white;
}

.cell-white {
  background: white;
  color: black;
}

.neighbor-count {
  font-size: 12px;
}

.ControlPanel {
  margin-top: 10px;
}